
<body>

    
  {% load static %}
  {% include 'header3.html' %}    

    <main>
      <div class="position-relative overflow-hidden p-3 p-md-5  text-bg-info">
        <div>
          <h2 class="fw-bold">BILLETTERIE DES JEUX OLYMPIQUES</h2><br>
          <h3 class="fw-normal mb-3 text-white">Différents sports sont à nouveau disponibles à la vente ! La billetterie de Paris 2024 connaissant un grand succès, certaines sessions sont d’ores et déjà écoulées.<br>
            <br>
            Des billets seront régulièrement mis en vente. Pour être tenu informé, consultez régulièrement ce site et créez-vous un compte pour recevoir les dernières actualités billetterie.<br>
            <br>
            Il est possible que certaines sessions soient momentanément indisponibles à la vente. Nous vous invitons à vous reconnecter dans quelques jours pour vérifier à nouveau la disponibilité de ces sessions. </h3>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
      </div>
    <div>

      <div class="d-flex flex-column w-100 my-md-3 ps-md-3">
        <div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden mt-1" style="background-image: url('{% static "images/Firefly judo jeux olympiques paris 2024 22985.jpg" %}'); background-size: cover; background-position: center;">
            <div class="my-3 py-3">
                <h2 class="display-5 text-white shadow fw-bold">Judo</h2>
                <p class="lead text-white shadow">mer. 24.07.2024 |  15:00 - 17:00  |  Paris  |   Parc des Princes</p>
            </div>
            <p class="lead">
              <a href="{% url 'judo' %}" class="btn btn-lg btn-light fw-bold border-white bg-white">Acheter</a>
            </p>
            <div class="taille"></div>
        </div>
        <div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden mt-1" style="background-image: url('{% static "images/Firefly boxe jeux olympiques paris 2024 30505.jpg" %}'); background-size: cover; background-position: center;">
            <div class="my-3 p-3">
                <h2 class="display-5 text-white fw-bold shadow">Boxe</h2>
                <p class="lead text-white shadow">mer. 24.07.2024 |  15:00 - 17:00  |  Paris  |   Parc des Princes</p>
            </div>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Acheter</a>
            </p>
            <div class="taille"></div>
        </div>

        



        <div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden mt-1" style="background-image: url('{% static "images/Firefly rugby jeux olympiques paris 2024 22985.jpg" %}'); background-size: cover; background-position: center;">
            <div class="my-3 p-3">
                <h2 class="display-5 text-white shadow fw-bold">Rugby</h2>
                <p class="lead text-white shadow">mer. 24.07.2024 |  15:00 - 17:00  |  Paris  |   Parc des Princes</p>
            </div>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Acheter</a>
            </p>
            <div class="taille"></div>
            </div>
            <div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden mt-1" style="background-image: url('{% static "images/Firefly football jeux olympiques paris 2024 18773.jpg" %}'); background-size: cover; background-position: center;">
            <div class="my-3 py-3">
                <h2 class="display-5 text-white fw-bold shadow">Football</h2>
                <p class="lead text-white shadow">mer. 24.07.2024 |  15:00 - 17:00  |  Paris  |   Parc des Princes</p>
            </div>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Acheter</a>
            </p>
            <div class="taille"></div>
            </div>

        



            <div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden mt-1" style="background-image: url('{% static "images/Firefly athéltisme jeux olympiques paris 2024 21356.jpg" %}'); background-size: cover; background-position: center;">
            <div class="my-3 p-3">
                <h2 class="display-5 shadow text-light fw-bold">Athlétisme</h2>
                <p class="lead shadow text-light">mer. 24.07.2024 |  15:00 - 17:00  |  Paris  |   Parc des Princes</p>
            </div>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Acheter</a>
            </p>
            <div class="taille"></div>
            </div>
            <div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden mt-1" style="background-image: url('{% static "images/Firefly natation jeux olympiques paris 2024 39368.jpg" %}'); background-size: cover; background-position: center;">
            <div class="my-3 py-3">
                <h2 class="display-5 text-light fw-bold shadow">Natation</h2>
                <p class="lead text-light shadow">mer. 24.07.2024 |  15:00 - 17:00  |  Paris  |   Parc des Princes</p>
            </div>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Acheter</a>
            </p>
            <div class="taille"></div>
            </div>

        



            <div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden mt-1" style="background-image: url('{% static "images/Firefly badminton jeux olympiques paris 2024 22985.jpg" %}'); background-size: cover; background-position: center;">
            <div class="my-3 p-3">
                <h2 class="display-5 text-white fw-bold shadow">Badminton</h2>
                <p class="lead text-white shadow">mer. 24.07.2024 |  15:00 - 17:00  |  Paris  |   Parc des Princes</p>
            </div>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Acheter</a>
            </p>
            <div class="taille"></div>
            </div>
            <div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden mt-1" style="background-image: url('{% static "images/Firefly handball jeux olympiques paris 2024 18773.jpg" %}'); background-size: cover; background-position: center;">
            <div class="my-3 py-3">
                <h2 class="display-5 text-white fw-bold shadow">Handball</h2>
                <p class="lead text-white shadow">mer. 24.07.2024 |  15:00 - 17:00  |  Paris  |   Parc des Princes</p>
            </div>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Acheter</a>
            </p>
            <div class="taille"></div>
            </div>
        </div>
    </div>
        </main>
    </div>
</div>
    {% include 'footer.html' %}
<!-- <script src="{% static 'js/recherche.js' %}"></script> -->
</body>