{% load static %}
{% include 'header3.html' %}

<style>.shadow-box{box-shadow: 0px 0px 5px black;}</style>

<div class="px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom" style="margin-bottom: 60px;">Custom cards</h2>

{% for produit in produits %}

    <div class="d-flex flex-column w-100 my-md-3 ps-md-3">
        <div class="row g-0">
            <div class="col-12 col-md-4">
                <div class="pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden mb-md-4 rounded-start shadow-box" style="background-image: url('{{ produit.image.url }}'); background-size: cover; background-position: center;">
                    <div class="taille2"></div>
                </div>
            </div>
            <div class="col-12 col-md-8 rounded-end d-flex mb-md-4 bg-info shadow-box mb-sm-2">
                <div class="d-flex flex-column flex-grow-1">
                <div class="my-3 py-3">
                    <h2 class="text-light fw-bold ms-3">{{produit.name}}</h2>
                    <p class="lead text-light ms-3">{{produit.description}}</p>
                    <p class="ms-3 fw-bold text-light">Prix du ticket individuel</p>
                    <p class="text-end m-3 text-light">A partir de:</p>
                    <h4 class="text-end me-3 fw-bold text-light">{{produit.gratuit}}</h4>
                </div>
                <p class="lead text-end me-4">
                  <a href="#" class="btn btn-lg fw-bold border-white bg-white add-to-cart " data-product-id="1">Ajouter au panier</a>
                </p>
                </div>
            </div>
        </div>

    </div>

{% endfor %}

</div>



<script src="{% static 'js/cart.js' %}"></script>
{% include 'footer.html' %}